/* font style */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.future{
    background-image: url(../Hero-bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: cover;
    width: 100%;
    height: 480px;
    
  
}

.banner{
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 50%;
    height: 380px;

}
.dark-2{
    color: #474747;
}
.btn-primary{
    
    background-color: black;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    padding: 8px 11px;
    border-radius: 5px;
    border: none;
}
.group-content{
    background-color: rgb(245, 244, 244);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   
    border-radius: 5px;
   
    

}
.div-group-content{
    width: 90%;
    height: 930px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 12px;
    
    
}
.hedding{
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}
.layer-content{
    
    
   
}
.layer-1{
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
  
}

.section-title{

    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;
    width: 90%;
    margin: 0 auto;
    

}
.skill{
    padding: 30px;
    width: 30%;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.bg-color-1{
    background-color: rgb(255, 206, 197);
}
.bg-color-2{
    background-color: rgb(210, 255, 240);
}
.bg-color-3{
    background-color: rgb(255, 233, 205);
}




.need-support-container{
    width: 90%;
    height: 350px;
    margin: 0 auto;
    background-image: url("../handshake.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .need-support-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .need-content h1{
    color: white;
  }

  .need-content p {
    margin-bottom: 30px;
    color: white;
  }
  .need-content input {
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 2px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  #Submit-btn {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 2px;
    background-color: white;
  }